<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="canonical" href="https://sepcod.kro.kr">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:description"  content="메신저와 각종 메신저에서 사용하실 수 있는 봇들에 관한 사이트입니다." />
    <meta property="og:title" content="Sepcod - 홈" />
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/image/sepbot.png" />
    <meta property="og:image:type" content="images/png" />
    <meta name="title" content="Sepcod - 홈">
    <meta name="keywords" content="SPG, Sepbot, 셉봇, 뉸봇, 윤봇, Nyunbot, Yunbot, 셉챗, Sepchat, 소네트, Sonnet, SPG, SepRPG">
    <meta name="description" content="메신저와 각종 메신저에서 사용하실 수 있는 봇들에 관한 사이트입니다.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="./javascript/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="/javascript/main.js"></script>
    <title>Sepcod - 홈</title>
</head>
<body>
    <header id="titlebar">
        <span id="logo">Sepcod</span>
        <nav id="nav">
            <span id="invite">봇</span>
            <span id="notice">공지</span>
            <!--
            <span id="command">명령어</span>
            <span id="update">버전</span>
        -->
        </nav>
    </header>
    <main id="page">
        <span id="bot">
            <span id="image"><img src="/image/sepbot.png" id="profile" title="Sepbot" alt="셉봇" /></span>
            <span id="text">
                <span id="description">
                    셉봇은 다양한 기능(코로나, 인코딩, 멜론차트등등...)을 중심으로 만들어지는 봇입니다.
                </span>
                <span id="invite" class="redirect" name="sepbot" alt="셉봇 초대 링크 - 디스코드">셉봇 초대 링크 - 디스코드</span>
                <span id="server" alt="서버 수"></span>
            </span>
        </span>
        <span id="commands"></span>
        <span id="version"></span>
        <span id="developer">개발자 : SepJ<br>소개 : 취미로 웹페이지, 채팅봇등을 만들는 평범한 학생입니다.
            <!-- Sepbot / 셉봇
            각종 기능 중심으로 만들어진 봇
            Sonnet / 소네트
            음악을 들을 수 있는 봇 (삭제 예정)
            SepRPG / SPG (개발중)
            RPG 게임을 할 수 있는 봇(개발 보류) -->
        </span>
        <ul id="chat">
        </ul>
    </main>
    <footer>
        <span id="support">문의</span>
        <span id="sepchat">Sepchat</span>
    </footer>
</body>
</html>