<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="canonical" href="https://sepcod.kro.kr">
    <link rel="favicon" href="https://sepcod.kro.kr/image/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:description"  content="메신저와 각종 메신저에서 사용하실 수 있는 봇들에 관한 사이트입니다." />
    <meta property="og:title" content="Sepcod - 공지" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/image/sepbot.png" />
    <meta property="og:image:type" content="images/png" />
    <meta name="title" content="Sepcod - 공지">
    <meta name="keywords" content="SPG, Sepbot, 셉봇, 뉸봇, 윤봇, Nyunbot, Yunbot, 셉챗, Sepchat, 소네트, Sonnet, SPG, SepRPG">
    <meta name="description" content="메신저와 각종 메신저에서 사용하실 수 있는 봇들에 관한 사이트입니다.">
    <script type="text/javascript" src="./javascript/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bot.css">
    <script type="text/javascript" src="/javascript/bot.js"></script>
    <title>Sepcod - 공지</title>
</head>
<body>
    <header id="titlebar">
        <span id="logo">Sepcod</span>
        <nav id="nav">
            <span id="invite">봇</span>
            <span id="notice">공지</span>
            <!--
            <span id="command">명령어</span>
            <span id="update">버전</span>
        -->
        </nav>
    </header>
    <main id="page">
        <span id="sepbot">
            <span id="image"><img src="/image/sepbot.png" id="profile" title="Sepbot" alt="셉봇" /></span>
            <span id="text">
                <span id="notice">
                    슬래시 커맨드로 명령어 사용방식이 바꼈습니다, 채팅창에 "/"를 입력해보시고 만약 안된다면 셉봇을 다시 초대해보세요! (디스코드)
                </span>
                <span id="invite" class="redirect" name="sepbot" alt="셉봇 초대 링크 - 디스코드">셉봇 초대 링크 - 디스코드</span>
            </span>
        </span>
        <span id="seprpg">
            <span id="image"><img src="/image/SPG.png" id="profile" title="SepRpg" alt="셉RPG봇" /></span>
            <span id="text">
                <span id="notice">
                    현재 코드 대부분 고치고 있습니다 - 점검중... (디스코드)
                </span>
                <span id="invite" class="redirect" name="seprpg" alt="셉RPG봇 초대 링크 - 디스코드">셉RPG봇 초대 링크 - 디스코드</span>
            </span>
        </span>
        <span id="sonnet">
            <span id="image"><img src="https://cdn.discordapp.com/app-icons/850706596463116309/f5e1d43b2e100c4fca8ff25394c2cbc5.png?size=256" id="profile" title="Sonnet" alt="소네트봇"></span>
            <span id="text">
                <span id="description">
                    업데이트 예정이지만 오래걸릴 듯 합니다.... (디스코드)
                </span>
                <span id="invite" class="redirect" name="sonnet" alt="Sonnet봇 초대 링크 - 디스코드">Sonnet봇 초대 링크 - 디스코드</span>
            </span>
        </span>
    </main>
    <footer>
        <span id="support">문의</span>
        <span id="sepchat">Sepchat</span>
    </footer>
</body>
</html>