<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="canonical" href="https://sepcod.kro.kr">
    <link rel="favicon" href="https://sepcod.kro.kr/image/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:description"  content="메신저와 각종 메신저에서 사용하실 수 있는 봇들에 관한 사이트입니다." />
    <meta property="og:title" content="Sepcod - 문의" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/image/sepbot.png" />
    <meta property="og:image:type" content="images/png" />
    <meta name="title" content="Sepcod - 문의">
    <meta name="keywords" content="SPG, Sepbot, 셉봇, 뉸봇, 윤봇, Nyunbot, Yunbot, 셉챗, Sepchat, 소네트, Sonnet, SPG, SepRPG">
    <meta name="description" content="메신저와 각종 메신저에서 사용하실 수 있는 봇들에 관한 사이트입니다.">
    <title>Sepcod - 문의</title>
    <link rel="stylesheet" href="/css/support.css" />
    <script type="text/javascript" src="./javascript/jquery.js"></script>
    <script type="text/javascript" src="/javascript/support.js"></script>
</head>
<body>
    <header id="titlebar">
        <span id="logo">Sepcod</span>
        <nav id="nav">
            <span id="invite">봇</span>
            <span id="notice">공지</span>
            <span id="command">명령어</span>
            <span id="update">버전</span>
        </nav>
    </header>
    <span class="page">
        <span id="part1">
            <img id="profile" alt="프로필" title="https://github.com/CsepJ" src="/image/SepJProfile.png" />
            <a id="email" href="mailto:sepj3240@gmail.com">sepj3240@gmail.com</a>
            <div id="github" class="redirect">개발자 깃허브 링크</div>
        </span>
        <span id="part2">
            <img id="profile" alt="개발자 프로필" title="개발자 프로필" src="/image/SepJProfile.png" />
            <div id="discord" class="redirect">문의 디스코드 서버</div>
            <div id="kakaotalk" class="redirect">개발자 오픈프로필</div>
        </span>
    </span>
    <footer>
        <span id="support">문의</span>
        <span id="sepchat">Sepchat</span>
    </footer>
</body>
</html>