@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    display:  grid;
    margin: 0;
    height: 100vh;
    font-family: "MinSans-Medium", sans-serif;
    grid-template-areas: "header"
    "main"
    "footer";
    grid-template-rows: 10vh 83vh 7vh;
    color: white;
}
a, .redirect {
    color: rgb(0, 102, 255);
    text-decoration: none;
    font-weight: 600;
}
a:hover, .redirect:hover{
	cursor: pointer;
}
header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255,0,91,0.7);
}
header span#logo{
    font-size: 2rem;
    font-weight: 50;
    margin-left: 10px;
    cursor: pointer;
}
header nav#nav span{
    font-size: 1.2rem;
    margin: 10px;
    cursor: pointer;
    word-break: keep-all;
}
main#page{
    grid-area: main;
    margin: 5px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "sepbot sepbot"
    "commands version"
    "developer sepchat";
}
main#page span#bot {
    grid-area: sepbot;
    background-color: rgb(67, 67, 67);
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "img text";
}
main#page span#bot span#image {
    margin: 5px;
    grid-area: img;
}
main#page span#bot span#text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main#page span#bot span#text *{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
img {
    border-radius: 10px;
    width: 50%;
    height: 50%;
    object-fit: contain;
}
main#page span#commands::-webkit-scrollbar-thumb, main#page span#version::-webkit-scrollbar-thumb,main#page span#developer::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: black;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
main#page span#commands::-webkit-scrollbar-track, main#page span#version::-webkit-scrollbar-track,main#page span#developer::-webkit-scrollbar-track {
    background-color: gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
main#page span#commands::-webkit-scrollbar, main#page span#version::-webkit-scrollbar,main#page span#developer::-webkit-scrollbar {
    width: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
main#page span#commands{
    padding-left: 5px;
    overflow-y: auto;
    grid-area: commands;
    background-color: rgb(67, 67, 67);
    border-radius: 10px;
    font-size: 1rem;
    word-break: keep-all;
}
main#page span#version{
    grid-area: version;
    background-color: rgb(67, 67, 67);
    border-radius: 10px;
    font-size: 1.1rem;
    overflow-y: auto;
    word-break: keep-all;
}
main#page span#developer{
    grid-area: developer;
    background-color: rgb(67, 67, 67);
    word-break: keep-all;
    overflow-y: auto;
    text-align: center;
    display: grid;
    align-items: center;
    border-radius: 10px;
    font-size: 1.15rem;
}
main#page ul#chat{
    grid-area: sepchat;
    background-color: rgb(67, 67, 67);
    border-radius: 10px;
    font-size: 0.9rem;
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
main#page ul#chat li{
    list-style: none;
    margin: 10px;
    word-break: break-all;
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    background-color: white;
}
#page ul#chat li[name="chat"]{
    border-top-left-radius: 0;
}
#page #chat li div.message{
    padding-top: 10px;
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 1rem;
}
#page #chat::-webkit-scrollbar{
    width: 10px;
}
#page #chat::-webkit-scrollbar-thumb{
    background-color: #fd3175;
    border-radius: 10px;
}
#page #chat::-webkit-scrollbar-track{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(67, 67, 67);
}
#page #chat li div.sender{
    font-weight: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 0.8rem;
}
div[name="chat"].message{
    user-select:text;
}
#page #chat li div.sender span.name{
    align-self: center;
    padding-left: 20px;
}
#page #chat li[name="chat"] div.sender span.time{
    margin-left: 10px;
    color: black;
    letter-spacing: -1px;
    align-self:center;
}
#page #chat li div.sender img.profile{
    width:30px;
    border-radius: 10px;
    border: 1px solid black;
}
footer{
    grid-area: footer;
    background-color: rgba(71,4,255,0.7);
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 1.2rem;
}
footer *{
    cursor: pointer;
    padding:calc(3.5vh - 1.2rem);
}